body {
  font-size: 16px;
}
/*******HEADER ********/
#header-nav {
  background-color: gray;
  margin-bottom: 0;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand h1 {
  color: black;
  margin: 0;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-header {
  height: 70px;;
}
#collapsable-nav ul {
  margin-top: 0;
}
#collapsable-nav ul li {
  border: 1px solid black;
}
#collapsable-nav ul li a {
  color: black;
  font-family: cursive;
}
.navbar-header button.navbar-toggle:focus , .navbar-header .icon-bar  {
  border: 2px solid white;
  background-color: gray;
}
.navbar-header button.navbar-toggle , .navbar-header .icon-bar  {
  border: 2px solid black;
}
/****MAIN*******/
main section {
  background-color: gray;
  margin-bottom: 25px;
}
main > h1 {
  font-family: cursive;
  font-size: 1.8em;
  font-weight: bolder;
  margin-bottom: 35px;
}
section > h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6em;
  font-weight: bolder;
}
section a {
  color: blue;
  text-decoration: underline;
}
