body {
  font-size: 16px;
}
#header-nav {
  background-color: gray;
}
.navbar-brand h1 {
  color: black;
  margin: 0;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-header {
  height: 70px;;
}