<div class="container">
  <div ng-if="myInfoCtrl.userInfo.length === 0">
    <h1>Not Signed Up Yet. <a ui-sref="public.signUp"> Sign up Now!</a></h1>
  </div>
  <div ng-if="myInfoCtrl.userInfo.length === 1">
   <label>Firat Name:</label>  {{myInfoCtrl.userInfo[0].firstName}} <br>
   <label>Last Name:</label> {{myInfoCtrl.userInfo[0].lastName}} <br>
   <label>Email Address:</label> {{myInfoCtrl.userInfo[0].email}} <br>
   <label>Phone Number:</label> {{myInfoCtrl.userInfo[0].phone}} <br>
   <label>favorite dish:</label>  <br><br>
  <div class="container">
      <menu-item menu-item="myInfoCtrl.menuItem[0]"></menu-item>
  </div>
  </div>
</div>